@import "tailwindcss";


.bgImg-auth {
    background-image: url(./img/istockphoto-1483863447-2048x2048\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.fade-in {
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide-down {
    animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@layer components {
    .setting-input {
        @apply w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#FF6767] transition bg-gray-50 hover:bg-white;
    }

    .setting-btn {
        @apply bg-[#FF6767] text-white px-6 py-2.5 rounded-xl shadow hover:bg-[#F24E1E] hover:shadow-lg transition font-medium;
    }

    .appearance-card {
        @apply w-32 h-32 flex flex-col justify-center items-center rounded-2xl border border-gray-200 cursor-pointer transition transform hover:scale-[1.03];
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s ease-in-out;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeSlideDown {
    animation: fadeSlideDown 0.2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-in-out;
}